{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}

{% if app.user and "ROLE_ADMIN" in app.user.getRoles() %}
    <a href={{ url("read_tasks") }}>Gérer les tâches</a>
{% endif %}

<ul>
    {% for task in tasks %}
        <li>
            <div class="{{ task.toDoBefore|date('U') < 'now'|date('U') ? 'text-red-600 font-bold' : 'text-black' }}">
                {{ task.name }} (À faire avant le {{ task.toDoBefore | date("d/m/Y") }})
            </div>
            <div>
                <p>
                    {{ task.description }}
                </p>
            </div>
            {% if task.treatedAt is null %}
                <a href={{ url("valid_task", { id: task.id }) }}>Finaliser cette tâche</a>
            {% else %}
                Finalisée le {{ task.treatedAt | date("d/m/Y") }} à {{ task.treatedAt | date("h:m") }}
            {% endif %}
        </li>
        <br>
    {% endfor %}
</ul>

{% endblock %}
