{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}

<a href={{ url("add_task") }}>Ajouter une tâche</a>

<select name="filter" id="filter">
    <option value="">Filtrer par</option>
    <option value="all">Toutes</option>
    <option value="current">En cours</option>
    <option value="over">Finalisées</option>
</select>

<script>
    document.getElementById('filter').addEventListener('change', function()
    {
        const filter = this.value;
        let url = "{{ url('read_tasks') }}";

        if (filter !== 'all')
        {
            url = "{{ url('read_tasks', {'filter': 'PLACEHOLDER', 'page': 1}) | raw }}".replace('PLACEHOLDER', filter);
        }

        window.location.href = url;
    });
</script>

<a href={{ url("read_tasks", { "filter": "current" }) }}>En cours</a>

<table>
    <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Date de création</th>
        <th>À effectuer avant le</th>
        <th>Personne affectée</th>
        <th>Statut</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.createdAt | date("d/m/Y") }}</td>
            <td>{{ task.toDoBefore | date("d/m/Y") }}</td>
            <td>{{ task.user.username }}</td>
            <td>
                {% if task.treatedAt is null %}
                    Non traitée
                {% else %}
                    Traitée le {{ task.treatedAt | date("d/m/Y") }} à {{ task.treatedAt | date("h:m") }}
                {% endif %}
            </td>
            <td><a href={{ url("task_edit", { id: task.id }) }}>Modifier</a></td>
            <td><a href={{ url("task_delete", { id: task.id }) }}>Supprimer</a></td>
        </tr>
    {% endfor %}
</table>

{% for i in 0..nbPages %}
    <a href="{{ url('read_tasks', { 'filter': filter, 'page': i + 1 }) }}" class="{{ i + 1 == page ? 'text-blue-600 font-bold' : 'text-black' }}">{{ i + 1 }}</a>
{% endfor %}

{% endblock %}
